@import '../../assets/stylesheets/colors.scss';
@import '../../assets/stylesheets/typograhpy.scss';

$flexboxgrid: '../../assets/stylesheets/flexboxgrid.css';

.container {
  composes: col-sm-3 col-xs-12 from $flexboxgrid;
  border: 2px solid $border-color;
  padding: 0;
}

.profile-image--container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  padding: 8px;
  border-bottom: 2px solid $border-color;
}

.profile-image {
  width: 100%;
  max-width: 246px;
}

.profile-description--container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}

.profile-description--name {
  font-size: $font-size--content;
}

.profile-description--job-title {
  font-size: 0.75rem;
}

.profile-keywords--container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: 1vw;
}

.portfolio-link {
  text-decoration: underline;
  color: $font-color;
  text-decoration-color: $accent-color;

  &:visited {
    text-decoration: underline;
  }

  &:hover {
    color: $accent-color;
  }
}

.profile-about-me {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  width: 100%;
  justify-content: center;

  h2 {
    font-size: 0.75rem;
  }

  ul {
    padding-left: 15%;
  }
}

@media only screen and (max-width : 599px) {
  .profile-about-me {
    ul {
      padding-left: 10%;
    }
  }

  .profile-keywords--container {
    font-size: 4vw;
  }
}

@media only screen and (min-width : 1281px) {
  .profile-keywords--container {
    font-size: 0.6vw;
  }
}

@media only screen and (min-width : 321px) and (max-width : 767px) {
  .container {
    max-width: 30%;
  }

  .profile-keywords--container {
    font-size: 1.25vw;
  }
}
