$flexboxgrid: '../../assets/stylesheets/flexboxgrid.css';

.container {
  composes: row from $flexboxgrid;
  height: 100%;
  width: 100%;
}

.something {
  composes: col-sm-3 col-xs-12 from $flexboxgrid;
}
