// font weights
$font-weight--bold: 700;
$font-weight--normal: 400;
$font-weight--semi-bold: 550;

// font sizes
// $font-size--base: 16px;
// $font-size--base--mobile: 2vw;
// $font-size--content: 1rem;      // 16px
// $font-size--subtitle: 1.375rem; // 22px
// $font-size--title: 1.75rem;     // 28px

$font-size--base: 16px;
$font-size--base--mobile: 4vw;
$font-size--content: 1rem;      // 16px
$font-size--subtitle: 1.375rem; // 22px
$font-size--title: 1.75rem;     // 28px
